<div class="container">
    <div class="card">
        <div class="card-header"><h2>Item List</h2></div>
        <div class="card-body" *ngFor="let item of items,let i = index">
            <p>{{i}}</p>
            <p>Item id: {{item.id}}</p>
            <p>Item name: {{item.name}}</p>
            <p>Item price: {{item.price}}</p>
            <button (click)="addToCart(i)">Add to Cart</button>
            <button (click)="removeFromCart(i)">Remove From Cart</button>
        </div>
    </div>
</div>